<div class="form-item row">
    <div class="form-label col-sm-4 col-form-label">
        <label>{{heading}}</label>
    </div>
    <div class="form-setting col-sm-8">
        <p class="form-control-static">{{description}}</p>
        <a id="certifyme-signup-btn"
           href="{{signupurl}}"
           target="_blank"
           rel="noopener noreferrer"
           class="btn btn-primary">{{buttonlabel}}</a>
    </div>
</div>
